body {
    background-color: rgb(45, 66, 43);
    color: rgb(45, 66, 43);
    background-image: url(comun.jpg);
    }




.head {
    background-color:rgb(33, 80, 32);
    color:rgb(193, 236, 187);
    margin: 50px;
    margin-bottom: 0px;
    padding:10px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    }


.paragraph {
    color:rgb(193, 236, 187);
    margin: 0px;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left:100px;
    padding-right:100px;
    text-size-adjust: 20px;
    font-family:'Quicksand', sans-serif;
    text-align: justify;
    background-color:rgb(22, 49, 21);
    }

.topnav {
    overflow: hidden;
    margin-right: 50px;
    margin-left: 50px;

    background-color:rgb(193, 236, 187);
  }
  
  .topnav a {
    float: left;
    color: rgb(3, 82, 0);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    width: 20%;
  }
  
  .topnav a:hover {
    transition: all 0.3s ease-in;
    background-color: rgb(164, 224, 156);
    color: rgb(0, 88, 22);
  }

#fundodatela {
    text-align: left;
    height: 200px;
    width: 230px;
    margin: 5PX;
    }

#imagem {
    text-align: right;
    height: auto;
    width: 250px;
    margin: 5px;
    }
#imagem2 {
    text-align: right;
    height: auto;
    width: 290px;
    margin: 5px;
    }